# =========================
# VCS
# =========================
.git
.gitignore

# =========================
# CI / IDE
# =========================
.github
.idea
*.iml
.vscode

# =========================
# Build outputs (Gradle)
# =========================
.gradle
build

# =========================
# Logs & temp
# =========================
*.log
tmp
out

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Env / secrets (절대 포함 X)
# =========================
.env
.env.*

# =========================
# Docs
# =========================
docs/
*.md

# =========================
# Docker
# =========================
docker-compose*.yml
Dockerfile

.claude
firebase-adminsdk.json